@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

input:focus + label{
  transition: transform 0.5s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html, body {
  font-family: 'Poppins', sans-serif;
  @apply font-sans;
}


@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 1s infinite;
}

.grid-rows-layout {
  grid-template-rows: auto 1fr auto;
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 50%, 100% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(-40px) translateX(40px);
  }
  75% {
    transform: translateY(-40px) translateX(-40px);
  }
}

.delay-0 {
  animation-delay: 0s;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-400 {
  animation-delay: 0.4s;
}

.delay-600 {
  animation-delay: 0.6s;
}
